
.highlightme {
    background-color: #e3e9ff;
}

body {
    background-color: #f8f8f8;
    /* Set the background color for the entire page */
    font-family: 'Afacad', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

#intro {
    padding: 20px 150px 20px 150px;
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 150px;
}

.left-section {
    max-width: 60%;
}

.left-section p {
    font-size: 24px;
    line-height: 46px;
    /* Set line spacing */
    letter-spacing: 5%;
    /* Set letter spacing */
    padding-bottom: 10px;
}

.logo {
    font-family: 'Afacad', sans-serif;
    font-size: 30px;
    /* Larger font size for logo */
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.nav button::after {
    content: '';
    /* Required for pseudo-element */
    display: block;
    /* Make it a block element */
    height: 2px;
    /* Thickness of the underline */
    width: 100%;
    /* Full width of the button */
    background-color: black;
    /* Color of the underline */
    position: absolute;
    /* Position it absolutely */
    left: 0;
    /* Align left */
    bottom: -3px;
    /* Move it down from the text (adjust this value as needed) */
    transform: scaleX(0);
    /* Initially hide the underline */
    transition: transform 0.3s ease;
    /* Smooth transition effect */
}

/* Show the underline on hover */
.nav button:hover::after {
    transform: scaleX(1);
    /* Scale to full width on hover */
}

.overview-video {
  padding: 100px 150px;
}

.overview-video iframe{
    width: 60%;
    height: auto;
}


.prototype-intro {
    padding: 0px 150px;
}

.prototype-textimage {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


.project-title {
    font-weight: 200;
    margin-bottom: 20px;
    text-align: left;
}

/* Left Column Styling */
.left-column {
    flex: 1;
    /* Take up one part of the available space */
    line-height: 1.5;
}

.video-button {
    background-color: #4ebff8;
    border: none;
    border-radius: 26px;
    padding: 18px 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    color: white;
    font-family: 'Afacad', sans-serif;
    margin-top: 40px;
}

/* Right Column Styling */
.right-column {
    float: right;
    padding-top: 10px;
    flex: 1;
    display: flex;
align-items: center;
}

.intro-image {
    float:right;
    width: 100%;
}


.scroll-container {
    text-align: center;
    position: relative;
    font-family: Arial, sans-serif;
    margin-top: 80px;
}

.scroll-container p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #878787;
    animation: bounce 1s infinite;
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid grey;
    margin: 0 auto;
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }
}


.overview,
.design-dev,
.user-testing,
.futurework {
  padding: 100px 280px;
}


 /* Image Carousel */
 .carousel-container {
  max-width: 900px;
  margin: 50px auto;
  margin-top: 20px;
  text-align: center;
}

.main-image img {
  width: 100%;
  max-height: 400px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  object-fit: contain;
}

.main-image img:hover {
  transform: scale(1.02);
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnail.active {
  border: 2px solid #4ebff8;
}

.thumbnail:hover {
  border: 2px solid #4ebff8;
}

.heading2, .heading3 {
  display: none;
}

#fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#fullscreen-overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

#fullscreen-overlay.visible {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}




.improvements {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 20px 0px;
}

.improvements div {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
}


  #scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position on screen */
    bottom: 20px; /* Distance from bottom */
    right: 20px; /* Distance from right */
    z-index: 99; /* Ensure it's on top of other elements */
    font-size: 18px; /* Text size */
    background-color: #4ebff8; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 50%; /* Rounded button */
    padding: 10px 15px; /* Button size */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Slight shadow */
    transition: background-color 0.3s; /* Smooth hover effect */
  }
  
  #scrollToTopBtn:hover {
    background-color: #333; /* Darker on hover */
  }
  

  .hamburger {
    display: none;
}

/* Responsive 900 */
@media (max-width: 900px) {
  header {
    padding: 20px 100px;
}

.nav button {
    font-size: 14px;
}

.nav button::after {
    height: 1px;
    bottom: -2px;
}

.logo {
    font-size: 24px;
}

.prototype-textimage {
    flex-direction: column;
}

.left-column {
  order: 2;
  padding: 0;
}

.right-column {
  order: 1;
  padding: 0;
}

.video-button {
  margin-top: 0;
}

.overview,
.design-dev,
.user-testing,
.futurework {
  padding: 80px 100px;
}

.improvements {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.improvements div {
  width: 90%;
}
}


/* Responsive 550 Mobile */
@media (max-width: 550px) {
  header {
    padding: 20px;
    justify-content: space-between;
  }

  .nav {
    display: flex; /* Flex display is needed to show the nav items */
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -250px; /* Initially hide the menu off-screen */
    width: 250px; /* Set the width of the side menu */
    height: 100vh; /* Full height */
    background-color: #f8f8f8;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-top: 100px; /* Adjust based on the header height */
    transition: left 0.3s ease-in-out; /* Smooth transition for the slide effect */
    align-items: flex-start;
    }

.nav.active {
    left: 0; /* Slide to the visible position */
  }

.nav.active button{
    padding-left: 40px;
  }

.hamburger {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    z-index: 1000;
  }

/* Center the logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center the logo */
  }

.nav button::after {
    display: none;
}

.scroll-container {
  display: none;
}

#intro,
.overview,
.design-dev,
.user-testing,
.futurework {
  padding:80px 30px;
}

.improvements {
  display: flex;
  flex-direction: column;
}

.improvements div {
  padding: 10px 20px;
}

.improvements h3 {
  margin-top: 10px;
}

}