

.highlightme {
    background-color: #fff2ce;
}

body {
    background-color: #f8f8f8;
    /* Set the background color for the entire page */
    font-family: 'Afacad', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-left: 150px;
    /* Left padding for consistent spacing */
    padding-right: 150px;
    /* Right padding for consistent spacing */
}

#intro {
    padding: 20px 150px 20px 150px;
    /* Combine padding properties */
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 150px;
}

.left-section {
    max-width: 60%;
}

.left-section h1 {
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 5%;
    padding-bottom: 10px;
}

.left-section p {
    font-size: 19px;
    line-height: 1.5;
    padding-bottom: 20px;
    margin:0;
}

.note{
    font-size: 16px;
    color: #9b9b9b;
    margin-top: 20px;
    width: 80%;
    font-weight:300;
}

.browse-button {
    background-color: #FFBA52;
    /* Button color */
    border: none;
    /* No border */
    border-radius: 35px;
    /* Round button */
    padding: 20px 60px;
    /* Button padding */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 20px;
    /* Font size for button */
    font-weight: 300;
    color: white;
    font-family: 'Afacad', sans-serif;
    margin-top: 20px;
    /* Space above button */
}

.browse-button:hover {
    background-color: #FFA41C;
    /* Change color on hover */
}

.right-section {
    max-width: 35%;
    /* Control width of the GIF section */
    display: flex;
    justify-content: center;
    /* Center the GIF */
}

.right-section img {
    max-width: 100%;
    /* Make GIF responsive */
    height: auto;
    /* Maintain aspect ratio */
}

.logo {
    font-family: 'Afacad', sans-serif;
    font-size: 30px;
    /* Larger font size for logo */
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.nav button::after {
    content: '';
    /* Required for pseudo-element */
    display: block;
    /* Make it a block element */
    height: 2px;
    /* Thickness of the underline */
    width: 100%;
    /* Full width of the button */
    background-color: black;
    /* Color of the underline */
    position: absolute;
    /* Position it absolutely */
    left: 0;
    /* Align left */
    bottom: -3px;
    /* Move it down from the text (adjust this value as needed) */
    transform: scaleX(0);
    /* Initially hide the underline */
    transition: transform 0.3s ease;
    /* Smooth transition effect */
}

/* Show the underline on hover */
.nav button:hover::after {
    transform: scaleX(1);
    /* Scale to full width on hover */
}




/* ABOUT ME PAGE */

.about {
    padding: 50px 150px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.photo-section {
    flex: 2;
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
}

.profile-photo {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.contact-details {
    margin-top: 20px;
}

.text-section {
    flex: 4;
    padding-left: 50px;
    padding-right: 50px;
}

.text-section h3 {
    font-weight: 100;
    font-size: 24px;
    margin: 0;
}

.text-section p {
    font-size: 18px;
    font-weight: 100;
    line-height: 46px;
    /* Set line spacing */
    letter-spacing: 5%;
    /* Set letter spacing */
    padding-bottom: 10px;
    color: #5E5E5E;
}


/* PROJECTS. PAGE */

/* Container for cards, now with a 3-column grid layout */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Creates 3 equal-width columns */
    gap: 40px;
    /* Spacing between the cards */
    margin-top: 10px;
    /* Adjust top margin for better spacing */
    padding: 0 150px;
}

/* Card styling - vertical layout with image on top */
.card {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    background-color: white;
    border: 0px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    /* padding: 20px; Add padding inside card */
    transition: transform 0.3s ease;
    margin-bottom: 0;
    align-items: center;
    /* Center-align items */
    overflow: hidden;
    /* Prevent image overflow */
    text-align: left;
    /* Center text */
}

.card:hover {
    transform: scale(1.02);
    /* Slightly enlarge card on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-image {
    width: 100%;
    /* Make image fill the entire width */
    height: auto;
    /* Maintain aspect ratio of image */
    /* border-radius: 8px; Rounded corners for the image */
    margin-bottom: 15px;
    /* Space between image and text */
    object-fit: cover;
    /* Ensure the image covers the area */
}

#workinprogress {
    background-color:transparent;
    border: 2px solid #ddd;
    border-radius: 8px;
    border-style: dashed;
    box-shadow: none;
}

#workinprogress p {
    color: #737373;
    font-size: 16px;
    margin:auto;
text-align: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px;
}

.card-text h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text p {
    font-size: 16px;
    margin: 5px 0;
}

#project-name {
    font-size: 20px;
    font-weight: bold;
}

#project-type {
    color: #cdcdcd;
    font-weight: 500;
    font-size: 14px;
}

#project-desc {
    font-size: 16px;
    color: #575757;
    margin-top: 10px;
}




/* Project Page (Mindshare, SamExplores, etc.) */

  .side-nav {
	position: fixed;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 20px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

  .side-nav.active {
    opacity: 1;
  }

  .side-nav-item {
    font-size: 16px;
    color: #333;
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 10;
  }

  .side-nav-item.active {
    font-size: 32px;
    font-weight: bold;
    opacity: 1;
    color: #000;
  }

  .section {
    min-height: 100vh;
}

.top,
.final-proposal,
.prototype-body {
    scroll-snap-align: start;
    min-height: 100vh;
}

.prototype-intro {
    padding: 0px 150px;
}

.prototype-textimage {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.project-title {
    font-weight: 200;
    margin-bottom: 20px;
    text-align: left;
}

/* Left Column Styling */
.left-column {
    flex: 1;
    line-height: 1.5;
}

.scroll-button {
    background-color: #FFA41C;
    border: none;
    border-radius: 26px;
    padding: 18px 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    color: white;
    font-family: 'Afacad', sans-serif;
    margin-top: 40px;
}

/* Right Column Styling */
.right-column {
    float: right;
    padding-top: 10px;
    flex: 1;
    /* Take up two parts of the available space */
}

.intro-image {
    float: right;
    width: 100%
}


/* iframe {
    width: 100%;

    height: 400px;

    border: 0px;
} */

.scroll-container {
    text-align: center;
    position: relative;
    font-family: Arial, sans-serif;
    margin-top: 80px;
}

.scroll-container p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #878787;
    animation: bounce 1s infinite;
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid grey;
    margin: 0 auto;
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }
}

/* Project Body */

#discover,
#define,
#develop,
#deliver,
#final-prototype{
    padding: 100px 280px;
}

#final-prototype {
    padding-top: 0;
    margin-top:100px;
}

.project-problem h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    color: #FFA41C;
}

.project-problem p,li {
    line-height: 1.5;
}

.project-problem {
    padding: 100px 0px;
    display: flex;
    gap: 60px;
}

.project-objective {
    flex: 1;
    padding-top: 30px;
}

.project-question {
    padding: 30px;
    background-color: white;
    flex: 1;
}

.project-question h2 {
    padding-left: 20px;
    color: black;
}

.project-question li {
    margin-bottom: 15px;
}

.research h2{
    color:#FFA41C;
    font-size: 30px;
}

.research-methods p {
    line-height: 1.5;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
}


.research-methods {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 20px 0px;
}

.research-methods h3{
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}

.method {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
}

/* Define */

#define {
    padding-top: 50px;
}

/* Analysis */

.key-findings {
    margin: 20px 0;
}
.insight {
    /* background-color: white; */
    border-radius: 5px;
}

.collapsible {
    background-color: transparent;
    border: 0px;
    border-radius: 20px;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family:'Afacad', sans-serif;
    font-weight: 400;
  }

  .collapsible:hover {
    background-color: white;
  }

  .arrow {
    transition: transform 0.3s ease;
    color:#737373;
  }

  .insight-dotpoints {
      padding: 0px 10px;
      display: block;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
  }
  
  .insight-dotpoints li {
    padding: 5px 0;
  }

  .collapsible.active .arrow {
    transform: rotate(180deg);
  }
  
  .collapsible.active + .insight-dotpoints {
    max-height: 1000px;
  }

  /* Develop */

 #develop h2 {
    color:#FFA41C;
    font-size: 30px;
  }

  #deliver h2 {
    color:#FFA41C;
    font-size: 30px;
  }

  #define h2{
    color:#FFA41C;
    font-size: 30px;
  }

  #final-prototype h2 {
    color:#FFA41C;
    font-size: 30px;
  }


  /* Image Carousel */
  .carousel-container {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 0;
    text-align: center;
  }
  
  .main-image img {
    width: 100%;
    max-height: 400px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: contain;
  }
  
  .main-image img:hover {
    transform: scale(1.02);
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .thumbnail {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
  }
  
  .thumbnail.active {
    border: 2px solid #FFA41C;
  }
  
  .thumbnail:hover {
    border: 2px solid #FFA41C;
  }
  
  #fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  #fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }
  
  #fullscreen-overlay.visible {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }


.ideation li {
    margin-bottom: 15px;
}

.ideation ol {
    padding-left: 20px;
    margin-bottom: 50px;
}

#concept-sam-explores {
    color:#FFA41C;
    font-size: 20px;
}

.sam-initial-concept img {
    width: 130%;
    margin-left: -17%;
}


.usertest-results{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.usertest-results h4 {
    margin: 0;
}

.usertest-results ul {
    padding-left: 20px;
}

.usertest {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

#strengths {
    color: rgb(17, 186, 17);
    font-weight: bold;
}

#areasforimprovements {
    color: rgb(247, 101, 34);
    font-weight: bold;
}

#strengths, #areasforimprovements {
    padding-top: 10px;
}

  .synthesis {
    margin-bottom: 200px;
  }

  .project-figma {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  .project-figma div {
    width: 50%;
  }
  .project-figma iframe {
    width: 100%;
    height: 400px;
  }


  #discover {
    background-image: url('assets/background-magnifyingglass.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: auto;
  }

  #define {
    background-image: url('assets/background-data.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right;
  }

  #develop {
    background-image: url('assets/background-idea.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
  }

    #scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position on screen */
    bottom: 20px; /* Distance from bottom */
    right: 20px; /* Distance from right */
    z-index: 99; /* Ensure it's on top of other elements */
    font-size: 18px; /* Text size */
    background-color: #FFA41C; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 50%; /* Rounded button */
    padding: 10px 15px; /* Button size */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Slight shadow */
    transition: background-color 0.3s; /* Smooth hover effect */
  }
  
  #scrollToTopBtn:hover {
    background-color: #333; /* Darker on hover */
  }